*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(1, 1, 125);
}
.container{
    max-width:25rem;
    width:90%;
    height:20rem;
    padding:3rem;
   
}
.container h1{
    color:rgb(255, 255, 255);
    font-weight: bolder;
    padding-bottom:0.4rem;
    font-size: 2.0rem;
}
.container h1 span{
    color:rgb(247, 234, 52);
    border-bottom: 4px solid rgb(242, 255, 0);
    padding-bottom: 0.3rem;
}
.display input{
    width: 81%;
    padding: 0.8rem;
    display: inline;
    text-align: left;
    margin-top: 1.5rem;
    font-weight: bolder;
    color: black;
 

}
.display i{
    font-size: 1.5rem;
    color:rgb(12, 12, 12);
    margin-left: -40px;
    
}
.container .btnIn{
    display:flex;
    width:54%;
    padding:0.3rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top:0.95rem;
}
    
