*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(11, 11, 142);
}
.app{
    max-width: 25rem;
    width:90%;
    background-color: white;
    border:2px solid black;
    border-radius: 0.6rem;
    margin: 8rem auto;
  padding: 2.4rem;
  height: 31rem;
  position: relative;
      
}
.app .quiz{
    padding-bottom:0.4rem;
}
.app hr{
    width:95%;  
}
.app .question{
    margin-top: 1.4rem;
}
.app .answer-buttons .btn{
    display:block;
    border:1px solid rgb(19, 19, 19);
    border-radius:4px;
    margin-top: 2.5rem;
    width:95%;
    height:33px;
    padding-left: 0.9rem;
    font-weight: bold;
    background-color: rgb(230, 227, 227);
    text-align: left; 
    transition: all 0.3s;
    cursor:pointer;
}
.app .answer-buttons .btn:hover:not([disabled]){
    background-color:#222 ;
    color:white;
}
.app .answer-buttons .btn:disabled{
    cursor:no-drop;
}
.app .next{
    padding: 0.4rem;
  margin-top: 0.6rem;
  margin-left: 7.9rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: center;
  font-weight: bold;
  color:white;
  background-color: black;
  display:none;


}
/* .correct{
    background-color: rgb(167, 246, 165);
}
.incorrect{
    background-color: rgb(245, 143, 143);
} */