*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.hero{
    width:100%;
    min-height: 100vh;
    background-color:  rgba(66, 167, 255, 0.625);
    display:flex;
    align-items: center;
    justify-content:center;
    align-content: center;

}
.calendar{
    width:22rem;
    height:22rem;
    background-color: white;
    position:absolute;
    top:22%;
    left:35%;
    display:flex;
    align-content:center;
    justify-content: center;
    outline:none;
    border-radius: 3rem;
   
}
.calendar .left{
    width:60%;
    height:100%;
    background-color: rgb(238, 238, 166);
    border-bottom-left-radius: 2.5rem;
    border-top-left-radius: 2.5rem; 
   
  
}
.calendar .right{
    width:40%;
    height:100%;
    background-color: rgb(248, 57, 24);
    border-bottom-right-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    
}
.left,.right{
    text-align: center;
    display:flex;
    justify-content: center;
    align-content:center;
    flex-direction: column;
    color:rgb(0, 0, 0);
}
.left h1{
    font-size: 4rem;
}
.left h4{
    font-size: 2rem;
}
.right h5{
    font-size: 1.5rem;
    
}
